	<h1> to do list </h1>
	<button (click) = "randomNum()"> Spin the wheel baby!</button>
	<div *ngIf="rnJesus >5">
		<div>
			Big Number {{rnJesus}}
		</div>
	</div>
	<br />
	<input type = "text" class = "form-control" [(ngModel)] = "newToDo" (keyup.enter)="addToDo()" />

	<br />
	<input [(ngModel)] = "chore" placeholder = "chore"/>
	<div [ngSwitch] = "chore">
		<div *ngSwitchWhen = "'mopping'">
			{{1+1}}
		</div>
		<div *ngSwitchWhen = "'sweeping'">
			Sweeping
		</div>
		<div *ngSwitchDefault>
			Doing Nothing
		</div>
	</div>
	<ul class ="list-group">
		<li *ngFor ="let potato of potatoes" class="list-group-item">
			<a href ="#" (dblclick)="removeToDo(potato)">
				{{potato}}
			</a>
		</li>
	</ul>
	